div {
  width: 400px;
  background-color: azure;
  padding: 5px;
}
.assign-2-shape-1 {
  border-left: solid 3px red;
}
.assign-2-shape-2 {
  visibility: hidden;
}
.assign-2-shape-3 {
  border-left: solid 3px green;
}
