div {
  width: 400px;
  height: 400px;
}
.assign-1-shape-1 {
  background-image:url(../images/workingimage1.png);
  background-repeat: no-repeat;
  
}
.assign-1-shape-1 {
  background-image:url(../images/workingimage1.png);
  background-repeat: repeat-y;
  
}.assign-1-shape-1 {
  background-image:url(../images/workingimage1.png);
  background-repeat: repeat-x;
  
}.assign-1-shape-1 {
  background-image:url(../images/workingimage1.png);
  background-repeat: repeat;
  
}
